.Course-Description-Box {
  color: $colorWhite;
  text-align: center;
  min-height: 300px;
  .Course-Grade-Pre-Title {
    margin: 0;
  }
  .Course-Grades {
    font-family: 'Righteous', cursive;
    font-size: 6rem;
    margin: 1rem 0;
  }
  .Course-Grades-Previous {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }
}

.Course-Name-Box {
  color: $colorWhite;
  text-align: center;
  margin-bottom: 3rem;
  .Course-Name {
    font-family: 'Righteous', cursive;
    font-size: 1.75rem;
    margin: 7rem 0 1rem 0;
  }
  .Course-Codes {
    font-size: 1rem;
    margin: 0;
  }
  .Old-Course-Codes {
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }
}

.Chart {
  margin-bottom: 3rem;
}

.Bottom-Links {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 4rem;
  a {
    color: $colorWhite;
    &:hover {
      color: $colorBlueHighLight;
      text-decoration: none;
    }
  }
}

.recharts-text {
  fill: $colorWhite;
}

.recharts-legend-item-text{
  color: $colorWhite;
}

.Graph-Text {
  fill: $colorWhite;
}

@media (max-width: 767px) {
  .Course-Name-Box {
    margin-bottom: 6rem;
  }
  .Course-Description-Box, .Chart {
    min-height: 360px;
  }
}


.Light {
  .Course-Description-Box,
  .Course-Name-Box,
  .recharts-legend-item-text {
    color: $colorBlueDark;
  }

  .Bottom-Links {
    a {
      color: $colorBlueDark;
      &:hover {
        color: $colorBlueHighLight;
      }
    }
  }

  .recharts-text {
    fill: $colorBlueDark;
  }

  .Graph-Text {
    fill: $colorBlueDark;
  }
}
