.Course-Description-Box {
  color: $colorWhite;
  text-align: center;
  .Course-Grade-Pre-Title {
    margin: 0;
  }
  .Course-Grades {
    font-family: 'Righteous', cursive;
    font-size: 6rem;
    margin: 1rem 0;
  }
}

.Course-Name-Box {
  color: $colorWhite;
  text-align: center;
  margin-bottom: 3rem;
  .Course-Name {
    font-family: 'Righteous', cursive;
    font-size: 1.75rem;
    margin: 5rem 0 1rem 0;
  }
  .Course-Codes {
    font-size: 1rem;
    margin: 0;
  }
  .Old-Course-Codes {
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }
}

.Chart {
  margin-bottom: 3rem;
}

.Bottom-Links {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 4rem;
  a {
    color: $colorWhite;
    &:hover {
      color: $colorBlueHighLight;
      text-decoration: none;
    }
  }
}

.recharts-text {
  fill: $colorWhite;
}

.recharts-legend-item-text{
  color: $colorWhite;
}

.Graph-Text {
  fill: $colorWhite;
}

@media (max-width: 767px) {
  .Course-Name-Box {
    margin-bottom: 4rem;
  }
  .Course-Description-Box {
    margin-bottom: 2rem;
  }
}

.Course-Table-Container {
  overflow-x: auto;
  .Course-Table {
    width: 100%;
    margin-bottom: 4rem;
    color: $colorWhite;
    tbody {
      tr {
        background-color: $colorBlueDark;
        &:hover {
          background-color: $colorBlueHighLight;
        }
      }
    }
    tr {
      border-bottom: 1px solid $colorWhite;
    }
    .Pointer {
      td {
        cursor: pointer;
      }
    }
    td, th {
      cursor: default;
    }
    .Res {
      text-align: center;
    }
    .Response-Content {
      background-color: $colorBlueLight;
    }
  }
}

.Light {
  .Course-Description-Box,
  .Course-Name-Box,
  .recharts-legend-item-text {
    color: $colorBlueDark;
  }

  .Bottom-Links {
    a {
      color: $colorBlueDark;
      &:hover {
        color: $colorBlueHighLight;
      }
    }
  }

  .recharts-text {
    fill: $colorBlueDark;
  }

  .Graph-Text {
    fill: $colorBlueDark;
  }

  .Course-Table-Container {
    .Course-Table {
      color: $colorBlueDark;
      tbody > tr {
        background-color: $colorWhite;
        border-bottom: 1px solid $colorBlueDark;
        &:hover {
          background-color: $colorBlueHighLight;
        }
        .Response-Content {
          background-color: $colorWhite;
          &:hover {
            color: $colorBlueLight;
          }
        }
      }
    }
  }
}
