.List-Component {
  font-size: 0.75rem;
  color: $colorWhite;
  text-align: left;
}

td, th {
  padding: 0.5rem;
  cursor: pointer;
}

tbody > tr:nth-child(odd) {
  background-color: $colorBlueLight;
}

tbody > tr:hover {
  background-color: $colorBlueHighLight;
}

th.Period {
  cursor: default;
}

.Code {
  min-width: 5.5rem;
}

.Work {
  text-align: center;
}

.Period {
  text-align: center;
  white-space: nowrap;
}

.Rank {
  text-align: center;
}

.Name {
  width: 100%;
}

.Counter {
  font-size: 0.75rem;
  text-align: center;
  color: $colorWhite;
  padding: 0.5rem
}

.position-relative.row.form-group {
  align-items: center;
  justify-content: center;
}

.position-relative.form-check {
  display: flex;
  color: $colorWhite;
}

@media (min-width: 512px) {
  .List-Component {
    font-size: 1rem;
  }
  .Code {
    min-width: 7rem;
  }
}

@media (max-width: 511px) {
  .List-Component {
    margin: 0 -15px;
    td, th {
      padding: 0.75rem 0.5rem;
    }
  }

  .Work {
    display: none;
  }

}


.Light {
  tbody > tr, th {
    border-bottom: 1px solid $colorBlueDark;
  }

  tbody > tr:nth-child(odd) {
    background-color: $colorWhite;
  }

  tbody > tr:hover {
    color: $colorWhite;
    background-color: $colorBlueHighLight;
  }

  .List-Component,
  .Counter,
  .position-relative.form-check {
    color: $colorBlueDark;
  }
}
