.Tin-Can {
  color: $colorWhite;
}

.Text-Title {
  font-family: 'Righteous', cursive;
  color: $colorWhite;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.Grade-Table {
  margin: 4rem auto;
  th, td {
    cursor: default;
  }
}

.Aamulehti {
  color: $colorWhite;
  text-decoration: underline;
}

.Aamulehti:hover {
  color: $colorBlueHighLight;
}

.Badge {
  max-width: 20rem;
  display: block;
  margin: auto;
}

.Light {
  .Tin-Can,
  .Text-Title,
  .Aamulehti {
    color: $colorBlueDark;
  }

  .Aamulehti:hover {
    color: $colorBlueHighLight;
  }
}
