@import '_constants';
@import 'course';
@import 'facultygraphs';
@import 'footer';
@import 'textcomponent';
@import 'listcomponent';
@import 'navbar';
@import 'searchform';
@import 'settings';

body {
  background-color: $colorBlueDark;
  animation: fadein 1s;
  transition: ease-in-out, background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

body.Light {
  background-color: $colorWhite;
}

.Hidden {
  display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Browser-Header {
  padding-top: 4rem;
}

.BrowserPic {
  padding: 2rem;
}

.Loading {
  font-family: Righteous, sans-serif;
  padding: 6rem 0 8rem;
  text-align: center;
  color: $colorWhite;
  .Rotator {
    fill: $colorWhite;
    margin-bottom: 1rem;
    animation: spin 4s linear infinite;
  }
}

.Light {
  .Loading {
    color: $colorBlueDark;
    .Rotator {
      fill: $colorBlueDark;
    }
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

