.List-Component {
  background-color: #171f28;
  font-size: 0.75rem;
  color: white;
  text-align: left;
}

td, th {
  padding: 0.5rem;
  cursor: pointer;
}

tbody > tr:nth-child(odd) {
  background-color: #1e2a38;
}

tbody > tr:hover {
  background-color: #355f8c;
}

.Code {
  min-width: 5.5rem;
}

.Work {
  text-align: center;
}

.Rank {
  text-align: center;
}

.Name {
  width: 100%;
}

.Counter {
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem
}

.position-relative.row.form-group {
  align-items: center;
  justify-content: center;
}

.position-relative.form-check {
  display: flex;
  color: #ffffff;
}

@media (min-width: 512px) {
  .List-Component {
    font-size: 1rem;
  }
  .Code {
    min-width: 7rem;
  }
}

@media (max-width: 511px) {
  .List-Component {
    margin: 0 -15px;
  }
  
  .Work {
    display: none;
  }
  
}
